


    <div id="system_sign_alterpwd"  data-ng-controller="system_sign_alterpwd as vm">
        <form class="form-horizontal">
            <div class="title control-group">
                <label class="control-label" for="inputEmail">Login3333</label>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Emailzzzz</label>
                <div class="controls">
                    <input type="text" id="inputEmail" focus placeholder="Email" ng-model="vm.SYS_USER.USER_NO">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">输入密码</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" ng-model="vm.SYS_USER.USER_PWD">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">再次确认</label>
                <div class="controls">
                    <input type="password" id="inputPassword2" placeholder="再次输入" ng-model="vm.SYS_USER.USER_PWD2">
                </div>
            </div>
        </form>
    </div>
